<!DOCTYPE html>
<html
    lang="en"
    xmlns=""
>

<head>
    <meta charset="utf-8" />
    <meta
        content="IE=edge"
        http-equiv="X-UA-Compatible"
    />
    <title>Vote</title>
    <meta
        content="Roxy"
        name="description"
    />
    <meta
        content="width=device-width, initial-scale=1,
            shrink-to-fit=no"
        name="viewport"
    />
    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400|Work+Sans:300,400,700"
        rel="stylesheet"
    />
    <!-- CSS -->
    <link
        href="
        {{
        url_for('static',filename='css/style.min.css'
        )
        }}"
        rel="stylesheet"
        type="text/css"
    />
    <link
        crossorigin="anonymous"
        type="text/css"
        href="{{url_for('static',filename='css/all.css')}}"
        rel="stylesheet"
    />
</head>

<body
    class=""
    data-spy="scroll"
>
    <nav>
        <div class="icon">
            <a href="#"><img
                    id="nsutlogo"
                    alt="logo"
                    height="60"
                    src="{{url_for('static', filename='img/nsut.png')}}"
                    data-light="{{ url_for('static', filename='img/nsut.png') }}"
                    data-dark="{{ url_for('static', filename='img/nsut.png') }}"
                    style="opacity: 1"
                    width="60"
                /></a>
        </div>
        <ul class="main_Menu">
            <div class="btn-container">
                <i
                    class="fa fa-sun-o"
                    aria-hidden="true"
                ></i>
                <label class="switch btn-color-mode-switch">
                    <input
                        type="checkbox"
                        name="color_mode"
                        id="color_mode"
                        value="1"
                    >
                    <label
                        for="color_mode"
                        data-on="Dark"
                        data-off="Light"
                        class="btn-color-mode-switch-inner"
                    ></label>
                </label>
                <i
                    class="fa fa-moon-o"
                    aria-hidden="true"
                ></i>
        </ul>
    </nav>
    <div class="voteBox">
        <div class="heading">
            <h1 style="
						margin-top: 10px;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						color: white;
					">
                Vote!<br />
            </h1>
        </div>
        <div class="mainBox">
            <div
                class="post"
                id="post"
                style="
						color: white;
						text-align: center;
						margin-top: 5px;
						font-weight: 400;
						margin-bottom: 25px;
					"
            >
                <h2 id="postVal"></h2>
            </div>
            <ul>
                <input
                    class="option"
                    name="check"
                    type="button"
                    value=""
                    id="cad1"
                    style="color: white;"
                />
                <input
                    class="option"
                    name="check"
                    type="button"
                    value=""
                    id="cad2"
                    style="color: white;"
                />
            </ul>
            <p
                id="error_message"
                style="color:#f00000;font-size: 20px;font-weight: bold;"
            ></p>
            <button id="countData">Vote!</button>
        </div>
    </div>
    <div class="jumbotron d-flex align-items-center">
        <div class="rectangle-1"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-transparent-1"></div>
        <div class="rectangle-transparent-2"></div>
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <div class="circle-3"></div>
        <div class="triangle triangle-1">
            <img
                alt=""
                src="{{url_for('static', filename='img/obj_triangle.png')}}"
            />
        </div>
        <div class="triangle triangle-2">
            <img
                alt=""
                src="{{url_for('static', filename='img/obj_triangle.png')}}"
            />
        </div>
        <div class="triangle triangle-3">
            <img
                alt=""
                src="{{url_for('static', filename='img/obj_triangle.png')}}"
            />
        </div>
        <div class="triangle triangle-4">
            <img
                alt=""
                src="{{url_for('static', filename='img/obj_triangle.png')}}"
            />
        </div>
    </div>
    <script src="{{ url_for('static', filename='Js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='Js/limitations.js') }}"></script>
</body>
<script>
    let Rlogo = document.getElementById('nsutlogo');

    document.addEventListener("DOMContentLoaded", function () {
        let colorModeCheckbox = document.getElementById("color_mode");
        colorModeCheckbox.addEventListener("change", function () {
            colorModePreview(this);
        });
    });

    function colorModePreview(ele) {
        if (ele.checked) {
            document.body.classList.add('dark-theme');
            Rlogo.src = Rlogo.dataset.dark;
        } else {
            document.body.classList.remove('dark-theme');
            Rlogo.src = Rlogo.dataset.light;
        }
    }

</script>

</html>